fenics_dolfinx==0.6.0
fenics_ufl==2023.1.1.post0
fluidfoam>=0.2.5
h5py>=3.9.0
matplotlib>=3.8.0
mpi4py>=3.1.4
numpy>=1.23.5
petsc4py>=3.18.5
pyvista>=0.42.2
scikit_learn>=1.3.1
scipy>=1.13.0
setuptools==63.0.0
